[submodule "basura-trashcan"]
	path = basura-trashcan
	url = https://github.com/FullStackEmbedded/basura-trashcan.git
[submodule "basura-server"]
	path = basura-server
	url = https://github.com/FullStackEmbedded/basura-server.git
[submodule "FSEDevBoard"]
	path = FSEDevBoard
	url = https://github.com/FullStackEmbedded/FSEDevBoard.git
