[submodule "basura-trashcan"]
	path = basura-trashcan
	url = git@github.com:FullStackEmbedded/basura-trashcan.git
[submodule "basura-server"]
	path = basura-server
	url = git@github.com:FullStackEmbedded/basura-server.git
